{% extends 'financiera/layout.html' %}
{% load static %}

{% block body %}
   
    {% if mensaje == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Pago registrado correctamente
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if mensaje == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Ocurrió un error al realizar el pago, intenta de nuevo
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <form class="m-2" id="cliente" onsubmit="editar(event)">
        <div class="d-flex justify-content-between">
            <p class="fs-3 mx-3">Datos del cliente</p>
            
            <button type="button"
            class="btn btn-primary my-3 mx-5"
            data-bs-toggle="modal" 
            data-bs-target="#prestamoModal"> Nuevo prestamo</button>

        </div>
        

        <section class="row g-3 m-2">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-2">
                <label for="first_name" class="form-label">Nombre(s)</label>
                <input type="text" class="form-control" id="first_name" name="first_name" disabled value = {{cliente.nombre}} >
            </div>
            <div class="col-md-2">
                <label for="last_name1" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" id="last_name1" name="last_name1" disabled value = {{cliente.apellido_paterno}}>
            </div>
            <div class="col-md-2">
                <label for="last_name2" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="last_name2" name="last_name2" disabled value ={{cliente.apellido_materno}}>
            </div>
            <div class="col-md-2">
                <label for="nacimiento{{cliente.id}}" class="form-label">Nacimiento</label>
                <input type="date" class="form-control" id="nacimiento{{cliente.id}}" name="nacimiento" disabled value = {{cliente.nacimiento | date:"Y-m-d"}}>
            </div>
            <div class="col-md-2">
                
            </div>
            
        </section>

        <p class="fs-3 m-2">Domicilio</p>
        <section class="row g-3 m-2">
            <div class="col-md-2">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="calle" name="calle" disabled value = {{cliente.calle}} >
            </div>
            <div class="col-md-1">
                <label for="numero" class="form-label">Número</label>
                <input type="number" class="form-control" id="numero" name="numero" disabled value = {{cliente.numero}}>
            </div>
            <div class="col-md-2">
                <label for="colonia" class="form-label">Colonia</label>
                <input type="text" class="form-control" id="colonia" name="colonia" disabled value ={{cliente.colonia}}>
            </div>
            <div class="col-md-1">
                <label for="cp" class="form-label">CP</label>
                <input type="text" class="form-control" id="cp" name="cp" disabled value ={{cliente.cp}}>
            </div>
            <div class="col-md-2">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="nacimiento" disabled value = {{cliente.ciudad}}>
            </div>
        </section>
        <p class="fs-3 m-2">Contacto</p>
        <section class="row g-3 m-2">
            <div class="col-md-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" disabled value = {{cliente.telefono}} >
            </div>
            <div class="col-md-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" disabled value = {{cliente.email}}>
            </div>
        </section>
        <div class="col-8 d-flex justify-content-end p-3 m-2">
            <button class="btn btn-warning" id="editar-btn" type="submit">Editar cliente</button>
        </div>
    </form>

    <p class="fs-3 m-2">Prestamos</p>

    <section class="mb-5">
        {% for prestamo in prestamos %}
        <section class="accordion" id="accordionPrestamo">
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{prestamo.id}}" aria-expanded="false" aria-controls="collapseOne">
                Prestamo {{prestamo.fecha| date}}
                </button>
            </h2>
                <div id="collapseOne{{prestamo.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionPrestamo">
                    <div class="accordion-body">

                        <section class="row g-3 m-2">
                            <div class="col-md-2">
                                <label for="cantidad-inicial{{prestamo.id}}" class="form-label">Prestamo por:</label>
                                <input type="text" class="form-control" id="cantidad-inicial{{prestamo.id}}" name="cantidad-inicial{{prestmo.id}}" disabled value = {{prestamo.cantidad_inicial}} >
                            </div>
                            <div class="col-md-1">
                                <label for="interes{{prestamo.id}}" class="form-label">Interés</label>
                                <input type="number" class="form-control" id="interes{{prestamo.id}}" name="interes{{prestamo.id}}" disabled value = {{prestamo.interes}}>
                            </div>
                            <div class="col-md-3">
                                <label for="saldo{{prestamo.id}}" class="form-label">Saldo restante</label>
                                <input type="text" class="form-control" id="saldo{{prestamo.id}}" name="saldo{{prestamo.id}}" disabled value ={{prestamo.balance}}>
                            </div>
                            <div class="col-md-2">
                                <label for="fecha{{prestamo.id}}" class="form-label">Fecha de contratación</label>
                                <input type="date" class="form-control" id="fecha{{prestamo.id}}" name="fecha{{prestamo.id}}" disabled value = {{prestamo.fecha | date:"Y-m-d"}}>
                            </div>
                        </section>

                        <section>
                            <form class="row g-3 m-2"
                            action="{% url 'pago' prestamo.id %}" 
                            data-balance="{{prestamo.balance}}"
                            data-prestamoid = "{{prestamo.id}}"
                            method="post" 
                            onsubmit="nuevo_pago(event)">
                                {% csrf_token %}
                                <div class="col-auto">
                                <label for="nuevoPago{{prestamo.id}}" class="visually-hidden">Registrar pago</label>
                                <input type="text" readonly class="form-control-plaintext" id="nuevoPago{{prestamo.id}}" value="Nuevo pago">
                                </div>
                                <div class="col-auto">
                                <label for="pagoInp{{prestamo.id}}" class="visually-hidden">Importe</label>
                                <input type="number" required class="form-control" id="pagoInp{{prestamo.id}}" name="pagoInp{{prestamo.id}}" placeholder="$0.00">
                                </div>
                                <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Realizar pago</button>
                                </div>
                            </form>
                        </section>
                    </div>

                    <!-- abonos -->

                    <ul class="list-group container mb-5">
                    {% for abono in prestamo.abono_set.all %}

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          {{abono.cantidad}}
                      
                          <span>{{abono.fecha}}</span>
                        </li>
                    
                    {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </section>
           

        {%empty%}
            <p class="fs-2 m-2 p-2">Cliente sin prestamos</p>
        {% endfor %}
    </section>


    <!--Modal para nuevo prestamo-->
    <section class="modal fade" id="prestamoModal" tabindex="-1" aria-labelledby="prestamoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="prestamoModalLabel">Nuevo prestamo a nombre de {{cliente.nombre}} {{cliente.apellido_paterno}} {{cliente.apellido_materno}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'nuevo-prestamo' cliente.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class ="mb-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                    </div>
                    <div class ="mb-3">
                        <label for="interes" class="form-label">Interes</label>
                        <input type="number" class="form-control" id="interes" name="interes" required placeholder="0.00%" step="0.01", min="0">
                    </div>
                    <select class="form-select" aria-label="Default select" id="parcialidades" name="parcialidades" required>
                        <option selected disabled>Selecciona un plazo</option>
                        <option value="3">3 meses</option>
                        <option value="6">6 meses</option>
                        <option value="9">9 meses</option>
                        <option value="12">12 meses</option>
                        <option value="18">18 meses</option>
                        <option value="24">24 meses</option>
                    </select>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" id="btn-prestamo" class="btn btn-primary">Agregar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% static 'financiera/cliente.js' %}"></script>
{% endblock %}