{% extends 'financiera/layout.html' %}
{% load static %}

{% block body %}
    {% if mensaje == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Pago registrado correctamente
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if mensaje == 'fail' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Ocurrió un error al realizar el pago, intenta de nuevo
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    
        <div class="d-flex justify-content-between">
            <p class="fs-3 mx-3">Datos del cliente</p>
            
            <form action="{% url 'nuevo-pedido' cliente.id %}" method="post" >
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-3 mx-5"> Nuevo pedido</button>
            </form>

        </div>
        
    <form class="m-2" id="cliente" onsubmit="editar(event)">
        <section class="row g-3 m-2">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-2">
                <label for="first_name" class="form-label">Nombre(s)</label>
                <input type="text" class="form-control" id="first_name" name="first_name" disabled value = {{cliente.nombre}} >
            </div>
            <div class="col-md-2">
                <label for="last_name1" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" id="last_name1" name="last_name1" disabled value = {{cliente.apellido_paterno}}>
            </div>
            <div class="col-md-2">
                <label for="last_name2" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="last_name2" name="last_name2" disabled value ={{cliente.apellido_materno}}>
            </div>
            <div class="col-md-2">
                <label for="nacimiento{{cliente.id}}" class="form-label">Nacimiento</label>
                <input type="date" class="form-control" id="nacimiento{{cliente.id}}" name="nacimiento" disabled value = {{cliente.nacimiento | date:"Y-m-d"}}>
            </div>
            <div class="col-md-2">
                
            </div>
            
        </section>

        <p class="fs-3 m-2">Domicilio</p>
        <section class="row g-3 m-2">
            <div class="col-md-2">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="calle" name="calle" disabled value = {{cliente.calle}} >
            </div>
            <div class="col-md-1">
                <label for="numero" class="form-label">Número</label>
                <input type="number" class="form-control" id="numero" name="numero" disabled value = {{cliente.numero}}>
            </div>
            <div class="col-md-2">
                <label for="colonia" class="form-label">Colonia</label>
                <input type="text" class="form-control" id="colonia" name="colonia" disabled value ={{cliente.colonia}}>
            </div>
            <div class="col-md-1">
                <label for="cp" class="form-label">CP</label>
                <input type="text" class="form-control" id="cp" name="cp" disabled value ={{cliente.cp}}>
            </div>
            <div class="col-md-2">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="nacimiento" disabled value = {{cliente.ciudad}}>
            </div>
        </section>
        <p class="fs-3 m-2">Contacto</p>
        <section class="row g-3 m-2">
            <div class="col-md-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" disabled value = {{cliente.telefono}} >
            </div>
            <div class="col-md-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" disabled value = {{cliente.email}}>
            </div>
        </section>
        <div class="col-8 d-flex justify-content-end p-3 m-2">
            <button class="btn btn-warning" id="editar-btn" type="submit">Editar cliente</button>
        </div>
    </form>

    <p class="fs-3 m-2">Pedidos</p>

    <section class="mb-5">
        {% for pedido in pedidos %}
        <section class="accordion" id="accordionPedido">
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseOne{{pedido.id}}" 
                aria-expanded="false" 
                aria-controls="collapseOne">
                    Pedido {{pedido.fecha| date}}
                </button>
            </h2>
                <div id="collapseOne{{pedido.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionPedido">

                    <!-- Boton agregar articulo -->
                    <div class="d-flex justify-content-end">
                        <button type="button"
                        class="btn btn-primary my-3 mx-5"
                        data-bs-toggle="modal" 
                        data-bs-target="#pedidoModal"
                        onclick=""> Agregar artículo</button>
                        <!-- Fin del boton agregar artículo-->
                    </div>
                    <div class="accordion-body">

                        <section class="row g-3 m-2">
                            <div class="col-md-2">
                                <label for="cantidad-inicial{{pedido.id}}" class="form-label">Pedido por:</label>
                                <input type="text" class="form-control" id="cantidad-inicial{{pedido.id}}" name="cantidad-inicial{{pedido.id}}" disabled value = {{pedido.cantidad_inicial}} >
                            </div>
                            <div class="col-md-1">
                                <label for="interes{{pedido.id}}" class="form-label">Interés</label>
                                <input type="number" class="form-control" id="interes{{pedido.id}}" name="interes{{pedido.id}}" disabled value = {{pedido.interes}}>
                            </div>
                            <div class="col-md-3">
                                <label for="saldo{{pedido.id}}" class="form-label">Saldo restante</label>
                                <input type="text" class="form-control" id="saldo{{pedido.id}}" name="saldo{{pedido.id}}" disabled value ={{pedido.balance}}>
                            </div>
                            <div class="col-md-2">
                                <label for="fecha{{pedido.id}}" class="form-label">Fecha de contratación</label>
                                <input type="date" class="form-control" id="fecha{{pedido.id}}" name="fecha{{pedido.id}}" disabled value = {{pedido.fecha | date:"Y-m-d"}}>
                            </div>
                        </section>

                        <section>
                            <form class="row g-3 m-2"
                            action="{% url 'pago' pedido.id %}" 
                            data-balance="{{pedido.balance}}"
                            data-pedidoid = "{{pedido.id}}"
                            method="post" 
                            onsubmit="nuevo_pago(event)">
                                {% csrf_token %}
                                <div class="col-auto">
                                <label for="nuevoPago{{pedido.id}}" class="visually-hidden">Registrar pago</label>
                                <input type="text" readonly class="form-control-plaintext" id="nuevoPago{{pedido.id}}" value="Nuevo pago">
                                </div>
                                <div class="col-auto">
                                <label for="pagoInp{{pedido.id}}" class="visually-hidden">Importe</label>
                                <input type="number" required class="form-control" id="pagoInp{{pedido.id}}" name="pagoInp{{pedido.id}}" placeholder="$0.00">
                                </div>
                                <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Realizar pago</button>
                                </div>
                            </form>
                        </section>
                    </div>

                    <!-- abonos -->

                    <section id="articulos">
                    </section>

                    <ul class="list-group container mb-5">
                    {% for abono in pedido.abono_set.all %}

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          {{abono.cantidad}}
                      
                          <span>{{abono.fecha}}</span>
                        </li>
                    
                    {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </section>
           

        {%empty%}
            <p class="fs-2 m-2 p-2">Cliente sin pedidos</p>
        {% endfor %}
    </section>



    
    <!--Modal para nuevo pedido-->
    <section class="modal fade" id="pedidoModal" tabindex="-1" aria-labelledby="pedidoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="pedidoModalLabel">Nuevo pedido a nombre de {{cliente.nombre}} {{cliente.apellido_paterno}} {{cliente.apellido_materno}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-button"></button>
            </div>
            <!-- sección para el modal de React -->
            <section id="modal-form">

            </section>  

          </div>
        </div>
      </div>
    </section>

    <section id="prueba"></section>

    <script type="text/babel">
        //const ArticlesContext = React.createContext([{titulo:"Un titulo más chido", cantidad:1, url:"", precio:""}])
        const articulos = []
        function NewArticleForm(){
            const [formData, setFormData] = React.useState({id:1, titulo:"", cantidad:1, url:"", precio:""});
            const [articles, setArticles] = React.useState([]);
            let article = {}

            function handleChange(event){
                const name = event.target.name;
                const value = event.target.value;

                setFormData( values => ({...values, [name]:value}));
            }

            function addArticle(){
                //console.log(formData);
                //setArticles([...articles, formData]);
                //console.log(articles);
                let newId = 1;
                if (!formData.cantidad  || formData.cantidad < 0){ 
                    return;
                }
                console.log(articulos.length);
                if (articulos.length > 0){
                    console.log(articulos[0]);
                    newId = articulos.length + 2;
                }
                articulos.push(formData);
                //console.log("después");
                console.log(articulos.length); 
                setFormData({id :newId , titulo:"", cantidad:1, url:"", precio:""});
                callFunction();
                document.querySelector("#close-modal-button").click();
            }
            return (
                //<ArticlesContext.Provider value={articles}>
                    <form>
                      
                        <div class="modal-body">
                            <div class ="mb-3">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <input 
                                type="number" 
                                value={formData.cantidad}
                                onChange = {handleChange} 
                                class="form-control" 
                                id="cantidad" 
                                name="cantidad" 
                                required = {true} />
                            </div>
                            <div class ="mb-3">
                                <label for="titulo" class="form-label">Titulo</label>
                                <input 
                                type="text" 
                                value={formData.titulo}
                                onChange = {handleChange}  
                                class="form-control" 
                                id="titulo" 
                                name="titulo" />
                            </div>
                            <div class ="mb-3">
                                <label for="url" class="form-label">Liga de Shein</label>
                                <input 
                                type="url" 
                                value={formData.url} 
                                onChange = {handleChange} 
                                class="form-control" 
                                id="url" 
                                name="url" 
                                placeholder="" />
                            </div>
                            <div class ="mb-3">
                                <label for="precio" class="form-label">Precio</label>
                                <input 
                                type="number" 
                                value= {formData.precio || ""}
                                onChange = {handleChange} 
                                class="form-control" 
                                id="precio" 
                                name="precio" 
                                placeholder="$00.00" />
                            </div>    
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" id="btn-pedido" class="btn btn-primary" onClick={addArticle}>Agregar</button>
                        </div>
                    </form>
                //</ArticlesContext.Provider>
            );
        }

        function Articulo(props){

            //Display text if url is added by user
            let urlText = "";
            if (props.url){
                urlText = "Ver artículo";
            }


           function deleteArticle(index){
             articulos.splice(index, 1);
             console.log(articulos);
             callFunction()  
           } 
           return (
            <tr>
                <td>{props.index+1}</td>
                <td>{props.titulo}</td> 
                <td>{props.cantidad}</td>
                <td><a href={props.url}>{urlText}</a></td>
                <td class=""> 
                    <a href="#" onClick={() => deleteArticle(props.index)} >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            );
        }

        function Articulos(){
            //const articles = React.useContext(ArticlesContext);
            //const [articulos, setArticulos] = React.useState(articles);
            if ( articulos.length > 0 ){
                return(
                    <section class="m-5 p-4">
                        <h2>Articulos</h2>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>    
                                    <th>Titulo</th>    
                                    <th>Cantidad</th>
                                    <th>URL</th>
                                    <th>Eliminar</th>    
                                </tr>
                            </thead>
                            <tbody>
                                {articulos.map((articulo, i) => <Articulo titulo={articulo.titulo} cantidad={articulo.cantidad} url={articulo.url} index={i}  />)}
                            </tbody>
                        </table>
                    </section>
                )
            }
        }
        ReactDOM.render(<NewArticleForm />, document.querySelector("#modal-form"));
        function callFunction(){ 
            ReactDOM.render(<Articulos />, document.querySelector("#prueba"));
        }
   </script>   
{% endblock %}

   
{% block script %}
    <script type="text/javascript" src="{% static 'financiera/cliente.js' %}"></script>
{% endblock %}