
.container1{  
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-width{
    width: 50%;
}

@media only screen and (max-width: 768px) {
   .form-width{ 
        width: 100%;
   }
}